

/***/
html {
    position: relative;
    min-height: 100%;
}

body {
  background-color: #f1f2f6;
    margin-bottom: 60px;
    font-family: "Lato",sans-serif;
}
.page{
  text-indent: 20px;
  /*width: 780px; */
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  border: 3px solid #00acee;;
  border-radius: 7px;
  box-shadow: 2px 4px 3px black;
  background-color: white;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 20px;
  opacity: .8;
  margin-left: 180px;
  margin-right: 180px;
  margin-bottom: 30px;
  margin-top: 30px;
 padding-bottom:350px;

  /*margin: auto;*/
}

.barre ul {
  padding: 2%;
  list-style: none;
  margin-right :1%;
  margin-left: 1%;
  margin-bottom: 0%;
}
.barre ul li{
  float: left;
  margin-left: 10%;
  width: 180px;
  height: 43px;
  line-height: 50px;
  text-align: center;
  color: #005792;
  text-decoration: none;
  font-size: 16px;
  background-color: white ;  
  border-radius: 10px ;
  margin-top: 1%;
  padding-bottom: 8px;
  
}

.barre ul li a{
  text-decoration: none;
  color: #00acee;
  display: block;
  
}

.img-header img {
 display: block;
  margin-right: auto; 
  width: 1350px;
  height: 200px;
  border-radius:10px;
   margin-left: auto;
    margin-right: auto;

  }

.searchbar{

  padding: 8px;
}

.nav-logo img{
  width: 25%;
  height:40%;
  float: left;

  margin-right: 1%;

}

.searchbar{
background:  url(../img/x.jpg) no-repeat fixed center;
background-m
 display: block;
text-align: center;
padding-top: 45px;
padding-bottom: 45px;
font-family: "Lato",sans-serif ;
width: 100%;
font-weight: normal;
}

form {
display: block;
margin-top: 0em;
width: auto;
}

.informations-event{
  float: left;
  border-color: black;
  border-width: 2px;
   border-style:solid;
  margin-left: 6%;

}

.comparaison-graph{
  float: right;
   border-color: black;
  border-width: 2px;
   border-style:solid;
  margin-right: 6%;

}
.main{

}
.informations-accueil{

width:420px;
height:350px;
background-color: rgb(251,251,251);
border-color: rgb(202,212,213);
float:left;

border-width: 1px;
border-style: solid;
border-radius: 6px;
font-weight: normal;
line-height: 18px;
padding-bottom: 16px;
padding-left: 16px;
padding-right: 16px;
}


.accueil-graphique{
width:500px;
height:350px;
background-color: rgb(251,251,251);
border-color: rgb(202,212,213);
margin-left: 480px;

border-width: 1px;
border-style: solid;
border-radius: 6px;
font-weight: normal;

line-height: 18px;

padding-bottom: 16px;
padding-left: 16px;
padding-right: 16px;
}


/* Custom */

.main-color-bg {
    background-color: white !important;
    border-color: #007fa3 !important;
    color: #00acee !important;
}

/* Header */

header{
    background-image:url('../img/image.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100%;
    margin-bottom: 0px; 

}

#header .create {
    padding-top: 24px;
}



/* Footer */

#footer {
    position: absolute;
    height: 70px;
    padding: 1rem;
    bottom: 0;
    width: 100%;
    background: #333333;
    color: #ffffff;
    text-align: center;
}



